<div class="background">
  <div class="login-container">

    <div class="login-image">
      <img src="https://images.unsplash.com/photo-1576201836106-db1758fd1c97?q=80&w=800" alt="Clínica Veterinária">
    </div>

    <div class="login-card">
      <h2>Clínica J- Vet 🐾</h2>

      <div class="input-group">
        <label>E-mail</label>
        <input type="email" [(ngModel)]="email" placeholder="Digite seu e-mail">
      </div>

      <div class="input-group">
        <label>Senha</label>
        <input type="password" [(ngModel)]="senha" placeholder="Digite sua senha">
      </div>

      <p *ngIf="mensagemErro" class="erro">
        {{ mensagemErro }}
      </p>

      <button (click)="fazerLogin()">
        Entrar
      </button>

      <div class="links">
        <a routerLink="/esqueci-senha">Esqueci minha senha</a>
        <a routerLink="/registrar">Criar conta</a>
      </div>

    </div>

  </div>
</div>